<br />
<h1>Sabarinathan</h1>
<br /><br />
<h2>My First Angular Project !! Looks Great !!! {{ title }}</h2>

<br /><br />

<h3>{{ message }}</h3>
<br />
<br />
<h3><app-lifecycle-hooks></app-lifecycle-hooks></h3>
<br />

<div class="wrapper">
  <h3><app-container></app-container></h3>
</div>
<br />
<br />

<div style="margin: 20px auto; width: 780px">
  <div class="app-component">
    <h2>App Component</h2>
    <p>This is <b>app</b>component.</p>
    <button>Button</button>
  </div>
</div>

<div class="component-container">
  <app-comp1></app-comp1>
  <app-comp2> </app-comp2>
</div>
<br /><br /><br /><br />

<div class="container">
  <div>
    <h3>All Users</h3>
    <app-all-users> </app-all-users>
  </div>
</div>
<div><app-user-detail></app-user-detail></div>
<br /><br />

<div>
  <!-- use only any valid HTML property or HTML tag..eg src, innerText -->
  <h2>Property Binding</h2>
  <img [src]="image"/>
</div>
<br /><br />

<!-- 1st -->
<div>
  <h2>Event Binding</h2>
  <br />
  <button class="event" (click)="increment()">Press Here!!</button>
  <h2>count={{ count }}</h2>
</div>
<br /><br />

<div>
  <h2>Two way binding</h2>

  <input class="box" type="text" [(ngModel)]="vehicleType" />
  <!--for two way binding,use ngmodel directive in [(ngModel)]to this we assigning which want to be bind to -->
  <!--it will affect the app.component.ts-->

  <h3>
    Type of Vehicle is <i>{{ vehicleType }}</i>
  </h3>
  <!--This is to see changes in class in template-->
</div>
<div style="border: 2px solid red">
  <app-component-styles></app-component-styles>
</div>

<br />
<br /><br />

<div class="content">
  <app-first-child> </app-first-child>
  <app-second-child></app-second-child>
</div>

<h5>app component</h5>
<br /><br /><br />


<!-- <h2>Pass data to Parent to Child Component</h2> -->

<h2>Pass data from Parent to Child Component</h2>
<app-users-child [hero]="data"></app-users-child>

<h2>Pass data from Child to Parent Component</h2>
<app-user-parent (parentFunction)="parentFunction($event)"></app-user-parent>
<br /><br />
<h1>{{ name }}</h1>


<!-- ////////////////////////////////////////////////////////////////////////// -->


<br /><br /><br /><br /><br />
<h2>Types In Pipes</h2>
<app-pipes></app-pipes>

<!-- //attribute binding -->
<br /><br /><br /><br />
<h1>Attribute Binding</h1>
<br /><br />
<h4>
  <div class="attribute_binding">
    <table>
      <thead>
        <tr>
          <h2>
            <th attr.colspan="{{ columnSpan }}">Employees Details</th>
          </h2>
        </tr>
      </thead>
    </table>
    <tbody>
      <tr>
        <td>first Name</td>
        <td>{{ firstName }}</td>
      </tr>
      <tr>
        <td>last Name</td>
        <td>{{ lastName }}</td>
      </tr>
      <tr>
        <td>Gender Name</td>
        <td>{{ gender }}</td>
      </tr>
    </tbody>
  </div>
</h4>

<br /><br />
<h1>Attribute Binding 1</h1>
<h2>We can use the attribute name for sharing the Data ..(prop-binding)</h2>
<img class="attribute_binding" [attr.src]="src_image" width="200px" alt="Sun" />
<!-- attribute binding adding [attr.attr_name] -->

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<br /><br /><br /><br /><br />
<!-- Template reference Variable -->
<h2>Template reference Variable</h2>

<div class="template_reference_variable">
  <input type="text" #box placeholder="enter name" />
  <!-- #box is the reference variable ...up box ..low box-->
  <button (click)="getVal(box.value)">Click Me</button>
</div>
<br /><br /><br /><br />
<br /><br /><br />
<app-svg></app-svg>
